/* Стилі сайту, крім слайдеру */

/* Підключення шрифтів з google fonts */
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Стилі тіла сайту*/
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-color: darkgrey;
}

.main-container {
  flex: 1 0 auto;
  width: 80%;
  margin: auto;

  @media screen and (max-width: 328px) {
    display:flex;
    justify-content: center;
    flex-direction: column;
    }
}

.ship-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* Стилі шапки сайту */
header {
  background-color: #cccccc;
  color: black;
  font-size: 40px;
  padding: 10px;
  font-family: 'Marck Script', cursive;
}

#nameCompany {
  font-size: 44px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 9%;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-size: 16px;
}

.menu li {
  display: inline;
}

.menu a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: black;
  display: inline-block;
  margin: 10px 20px 10px 20px;
  font-size: 22px;
  font-weight: 800;
  
}

.menu a:hover {
  color: #808080;
}

.menu a:active {
  color: #2c2e53;
}

/* Стилі підвалу сайту */
footer {
  background-color: #cccccc;
  text-align: center;
  color: black;
  font-size: 15px;
  margin: 0px;
  padding: 10px;
  flex: 0 0 auto;
}

/* Стилі секцій сайту сайту */
section {
  color: black;
  font-size: 20px;
  margin: 10px;
  overflow: hidden;
  
}

.ship-container{
  display: flex;
  justify-content: center;


}

.ship {
  display: inline-block;
  text-align: center;
  margin: 5px;
}

.shipInfo{
  display: flex;
  justify-content: center;

  @media screen and (max-width: 700px) {
    flex-direction:column;
    }
}

.ships {
  text-align: center;
}

.ships img {
  width: 600px;
  height: 400px;



  @media screen and (max-width: 700px) {
    width: 100%;
    height: 100%;
    }
}

.OurShips {
  font-size: 25px;
}

.ship a {
  text-decoration: none;
}

.crew {
  text-align: justify;
  min-width: 200px;
  max-width: 1100px;
}

table.t2 {
  border: 2px solid #cccccc;
  border-collapse: collapse;
  margin: 50px;

  @media screen and (max-width: 700px) {
    margin: 50px 0;
    }

    @media screen and (max-width: 450px) {
      margin: 30px 0;
      font-size: 13px;
      }
}

.textShips {
  text-align: center;
}

table td {
  border: 1px solid #cccccc;
}

.td1 {
  border: 0pc;

  

  @media screen and (max-width: 700px) {
    display: flex;
    justify-content: center;
    flex-direction:column;
    }
  
}

.crewShip {
  display: inline;
}

h1 {
  color: black;
  text-align: center;
}

.contacts {
  text-align: center;
}

link {
  color: #000;
}

a:visited {
  color: #000;
}

/* Стилі для меню на сторінках "Екіпаж" */
aside {
  overflow: hidden;
  float: right;
  margin: 30px;
  width: 330px;
  font-size: 20px;
  line-height: 30px;

  @media screen and (max-width: 640px) {
    width:100%;
    margin: 30px 0;
    }
  }

.crewNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #cccccc;
  color: black;
  padding: 10px;
}

.crewNav a {
  color: black;
  text-decoration: none;
}

.crewNav a:hover {
  color: #808080;
}

.crewNav a:active {
  color: #2c2e53;
}

/* Стилі кнопки вгору сторінки */
.btn-up {
  position: fixed;
  background-color: black;
  right: 50px;
  bottom: 80px;
  border-radius: 30px;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.btn-up::before {
  content: "";
  text-align: center;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

/* Колір заднього фона при наведенні */
@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #808080;
  }
}

/* Стилі Пошуку */
#search {
  display: inline;
  padding: 4px;
}

#input-workers {
  width: 200px;
  padding: 8px;
}

/* Стилі кнопок */
button {
  color: white;
  background-color: #7a7a7a;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

button:hover {
  background-color: black;
}

button:active {
  background-color: #7a7a7a;
}

#send {
  color: white;
  background-color: #7a7a7a;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid black;
  margin: 0;
  height: 50px;
}

#send:hover {
  background-color: black;
}

#send:active {
  background-color: #7a7a7a;
}

/* Стилі форми */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: black;
}

.container {
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  margin: auto;
}

/* Стилі модального вікна */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .5)
}

.show {
  display: block
}

.hide {
  display: none;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto
}

.modal__dialog {
  max-width: 500px;
  margin: 40px auto
}

.modal__title {
  text-align: center;
  font-size: 22px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: .5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer
}
